{% extends "layout.html" %}
{% block title%}Etusivu{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Kasvojentunnistusohjelma</h1>
    <h2>Tunnista kasvot: </h2>
</div>
<div class="row g-3 mt-3">
    {% for file in face_files %}
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <div class="card text-center" style="max-width: 150px; margin: auto;">
            <img src="data:image/png;base64,{{ file.base64 }}" class="card-img-top">
            <div class="card-body p-2">
                <form action="/recognise" method="POST">
                    <input type="hidden" name="faces" value="{{ file.filename }}">
                    <button class="btn btn-sm btn-secondary" type="submit">Tunnista</button>
                </form>
            </div>
        </div>  
    </div>
    {% endfor %}
</div>
{% endblock %}